<ion-header>
  <ion-toolbar>
    <ion-title>Nhập thông tin KH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" name="hoten" >Họ tên</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">SĐT</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Địa chỉ</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ghi chú giao hàng</ion-label>
    <ion-input ></ion-input>
  </ion-item>
<hr>
  <ion-button size="large" color="success" expand="full" (click)="goToBill()">Gửi</ion-button>
</ion-content>